[user]
	email = meteorchen@qq.com
	name = meteorchen
[core]
	excludesfile = /Users/admin/.gitignore_global
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
    #default = matching
	default = simple
	followTags = true
[receive]
	denyCurrentBranch = ignore
[commit]
	template = /Users/admin/.stCommitMsg
[color]
	status = auto
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	ui = auto
[alias]
    prune = fetch --prune
    stash-all = stash save --include-untracked
