[user]
	email = meteorchen@qq.com
	name = meteorchen
	useConfigOnly = true
[core]
	hooksPath = ~/.git-hooks
	quotepath = false
	longpaths = true
	autocrlf = input
	trustctime = false
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.attributes_global
	ignorecase = true
	untrackedcache = true
	filemode = false
	pager = delta
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
[http]
	postBuffer = 655360000
[lfs]
	concurrenttransfers = 32
	fetchrecentrefsdays = 0
	pruneoffsetdays = 0
	dialtimeout = 3
	tlstimeout = 3
[lfs "transfer"]
	maxretries = 1
	maxretrydelay = 2
[push]
    #default = matching
	default = simple
	followTags = true
[receive]
	denyCurrentBranch = ignore
[commit]
	template = ~/.stCommitMsg
[color]
	status = auto
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	ui = auto
[alias]
    prune = fetch --prune
    stash-all = stash save --include-untracked
[delta]
    side-by-side = true
    line-numbers = true
    syntax-theme = Dracula
